<%= render partial: "index_header" %>

<!-- Top Image -->
<div class="fullwidthbanner-container">
  <%= image_tag("slider/bg2.jpg") %>
</div>
<!-- End Top Image -->

<section id="content">
  <div class="container section">
    <div class="row image-box style4">
      <div class="col-sm-4">
        <article class="box animated" data-animation-type="fadeInLeft" data-animation-delay="0">
          <figure>
            <a title="" href="/best-credit-card-offers" class="hover-effect"><%= image_tag("travel2.jpg") %></a>
          </figure>
          <div class="details">
             <h4 class="box-title"><a href="/best-credit-card-offers">Best Current Offers!</a></h4>
            <a class="goto-detail" href="/best-credit-card-offers"><span class="glyphicon glyphicon-arrow-right"></span></a>
          </div>
        </article>
      </div>
      <div class="col-sm-4">
        <article class="box animated" data-animation-type="fadeInLeft" data-animation-delay="0.3">
          <figure>
            <a title="" href="/travel-credit-cards" class="hover-effect"><%= image_tag("travel1.jpg") %></a>
          </figure>
          <div class="details">
            <h4 class="box-title"><a href="/travel-credit-cards">Browse All Travel Cards</a></h4>
            <a class="goto-detail" href="/travel-credit-cards"><span class="glyphicon glyphicon-arrow-right"></span></a>
          </div>
        </article>
      </div>
      <div class="col-sm-4">
        <article class="box animated" data-animation-type="fadeInLeft" data-animation-delay="0.6">
          <figure>
            <a title="" href="/categories" class="hover-effect"><%= image_tag("travel3.jpg") %></a>
          </figure>
          <div class="details">
             <h4 class="box-title"><a href="/categories">Browse Card Categories</a></h4>
            <a class="goto-detail" href="/categories"><span class="glyphicon glyphicon-arrow-right"></span></a>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<div class="container section">
  <h2>Best Cards Right Now!</h2>
  <div class="car-slideshow image-carousel style2 box" data-animation="slide" data-item-width="270" data-item-margin="30">
    <ul class="slides image-box car listing-style1">
      <% @welcome_presenter.best_cards.each do |card| %>
      <li>
        <article class="box">
          <figure>
            <%= link_to image_tag(card.image_link), card_path(card) %>
          </figure>
          <div class="details">

              <h4 class="box-title"><%= link_to card.name, card_path(card) %></h4>
              <p class="mile"><span class="skin-color"><strong>BONUS: </span><%= card.rewards.first.amount %></strong></p>
              <p class="mile"><span class="skin-color">Good Time to Apply?</span> Yes</p>
              <div class="action">
                <%= link_to "SEE MORE", card_path(card), class: "button btn-small full-width" %>
              </div>
          </div>
        </article>
      </li>
      <% end %>
    </ul>
  </div>
</div>
