<%= render partial: "types_of_credit_cards_header" %>
<div class="page-title-container">
  <div class="container">
    <div class="page-title pull-left">
      <h2 class="entry-title">So Many Cards - So Little Time!</h2>
    </div>
    <ul class="breadcrumbs pull-right">
      <li><a href="/">HOME</a></li>
      <li><a href="/credit-card-beginners-guide">START HERE</a></li>
      <li class="active">Types of Credit Cards</li>
    </ul>
  </div>
</div>

<div class="fullwidthbanner-container-types">
  <div class="col-md-offset-2 col-md-8">
    <h1 class="top-title" id="40">Learn About the Different Types of Travel Credit Cards</h1>
  </div>
</div>

<section class="all-content" id="content">
  <div class="container intro-para">
    <h1 id="how">What Type of Card Should I Get?</h1>
    <p>Airline, Hotel, or Travel Credit Cards? There are many categories to choose from and within those categories there are many different types of cards. Do you want cards that you can redeem travel expenses directly or do want cards with specific airline points? Are you loyal to one airline or do you fly the cheapest fare always? These questions are tough to answer so we have created a series of articles detailing how to begin the selection process to find the travel credit card that BEST fits your travel needs.</p><hr>
  </div>

  <div class="container main-start-here">
    <div id="main">
      <div class="row add-clearfix image-box style1 tour-locations">
      <h2 class="sub-header">1. Start Here</h2>
        <div class="col-md-offset-4 col-md-4">
          <article class="box">
            <figure>
              <a href="/blogs/why-i-created-too-many-miles" class="hover-effect">
                <%= image_tag("start_here/what_type_of_card/how-to-use-site.jpg") %>
              </a>
            </figure>
            <div class="details">
              <h4 class="box-title category-title"><a href="/blogs/why-i-created-too-many-miles">Why I Created Too Many Miles</a></h4>
              <hr>
              <div class="text-center article-summary">
                <div class="time">
                  <span>The first step to understanding travel credit cards is to learn how to best use this site. In fact, there are lots of resources out there for credit cards - some good, most bad. This article shows how we differ from the competition and  what our competitive advantages are!</span>
                </div>
              </div>
              <a href="/blogs/why-i-created-too-many-miles" class="button btn-small full-width">READ ARTICLE</a>
            </div>
          </article>
        </div>
      </div>

      <div class="row add-clearfix image-box style1 tour-locations">
      <h2 class="sub-header">2. Card Category Guides</h2>
        <div class="col-md-offset-2 col-md-4">
          <article class="box">
            <figure>
              <a href="/blogs/an-introduction-to-statement-credit-travel-cards" class="hover-effect">
                <%= image_tag("start_here/what_type_of_card/statement-cards.jpg") %>
              </a>
            </figure>
            <div class="details">
              <h4 class="box-title category-title"><a href="/blogs/an-introduction-to-statement-credit-travel-cards">An Intro to Statement Credit Cards</a></h4>
              <hr>
              <div class="text-center article-summary">
                <div class="time">
                  <span>There are four types of travel credit cards - airline cards, hotel cards, transferrable point cards, and statement credit travel cards. This article focuses high level of the pros and cons of applying for statement credit travel cards.</span>
                </div>
              </div>
              <a href="/blogs/an-introduction-to-statement-credit-travel-cards" class="button btn-small full-width">READ ARTICLE</a>
            </div>
          </article>
        </div>

        <div class="col-md-4">
          <article class="box">
            <figure>
              <a href="/blogs/an-introduction-to-airline-credit-cards" class="hover-effect">
                <%= image_tag("start_here/what_type_of_card/intro-to-airlines.jpg") %>
              </a>
            </figure>
            <div class="details">
              <h4 class="box-title category-title"><a href="/blogs/an-introduction-to-airline-credit-cards">An Intro to Airline Credit Cards</a></h4>
              <hr>
              <div class="text-center article-summary">
                <div class="time">
                  <span>There are four types of travel credit cards - airline cards, hotel cards, transferrable point cards, and statement credit travel cards. This article focuses high level of the pros and cons of applying for airline specific credit cards.</span>
                </div>
              </div>
              <a href="/blogs/an-introduction-to-airline-credit-cards" class="button btn-small full-width">READ ARTICLE</a>
            </div>
          </article>
        </div>
      </div>

      <div class="row add-clearfix image-box style1 tour-locations">
        <h2 class="sub-header">3. Next Steps</h2>
          <div class="col-md-offset-4 col-md-4">
            <article class="box">
              <figure>
                <a href="/blogs/the-most-important-post-to-read" class="hover-effect">
                  <%= image_tag("start_here/what_type_of_card/avoid-the-fees.jpg") %>
                </a>
              </figure>
              <div class="details">
                <h4 class="box-title category-title"><a href="/blogs/the-most-important-post-to-read">How to Avoid Credit Card Fees</a></h4>
                <hr>
                <div class="text-center article-summary">
                  <div class="time">
                    <span>If you decide to read just one post on Too Many Miles, I suggest this one. The simple trick outlined in this article is how I have managed to rack up hundreds of thousands of miles by opening a plethora of credit cards without paying any of the credit card fees.</span>
                  </div>
                </div>
                <a href="/blogs/the-most-important-post-to-read" class="button btn-small full-width">READ ARTICLE</a>
              </div>
            </article>
          </div>
        </div>

        <div class='col-md-offset-3 col-md-6 apply-here continue-button'>
          <%= link_to "Beginner's Guide Home", credit_card_beginners_guide_path, class: "btn btn-success btn-lg btn-block" %>
        </div>

      </div>
    </div>
  </div>
</section>