<%= render partial: "credit_score_header" %>
<div class="page-title-container">
  <div class="container">
    <div class="page-title pull-left">
      <h2 class="entry-title">What is a Credit Score?</h2>
    </div>
    <ul class="breadcrumbs pull-right">
      <li><a href="/">HOME</a></li>
      <li><a href="/credit-card-beginners-guide">START HERE</a></li>
      <li class="active">What is a Credit Score</li>
    </ul>
  </div>
</div>

<div class="fullwidthbanner-container-scores">
  <div class="col-md-offset-2 col-md-8">
    <h1 class="top-title" id="40">All About Credit Scores</h1>
  </div>
</div>

<section class="all-content" id="content">
  <div class="container intro-para">
    <h1 id="how">What is a Credit Score?</h1>
    <p>Having a good credit score is crucial to applying for credit cards. Unfortunately, I found that there is a lot of misconceptions about what exactly is a credit score and how one should go about finding and managing it! Below you will find a list of articles covering all the aspects of credit scores. Having a solid foundation of what a credit score is will help you maximize your credit card rewards. Thank you for reading and Happy Travels!</p><hr>
  </div>

  <div class="container main-start-here">
    <div id="main">

      <div class="row add-clearfix image-box style1 tour-locations">
        <h2 class="sub-header">1. All About Credit</h2>
          <div class="col-md-offset-2 col-md-4">
            <article class="box article-box">
              <figure>
                <a href="/blogs/what-is-a-credit-score" class="hover-effect">
                  <%= image_tag("start_here/credit_score/what-is-credit-score.jpg") %>
                </a>
              </figure>
              <div class="details">
                <h4 class="box-title category-title"><a href="/blogs/what-is-a-credit-score">What is a Credit Score?</a></h4>
                <hr>
                <div class="text-center article-summary">
                  <div class="time">
                    <span>The first question I always get when I tell people about my obsession with the credit card game is “How does that not ruin your credit score?” Our guide will teach you what makes up a credit score and hopefully will shatter some credit card myths along the way.</span>
                  </div>
                </div>
                <a href="/blogs/what-is-a-credit-score" class="button btn-small full-width">READ ARTICLE</a>
              </div>
            </article>
          </div>

           <div class="col-md-4">
            <article class="box article-box">
              <figure>
                <a href="/blogs/do-not-fear-the-card" class="hover-effect">
                  <%= image_tag("start_here/credit_score/fear-the-card.jpg") %>
                </a>
              </figure>
              <div class="details">
                <h4 class="box-title category-title"><a href="/blogs/do-not-fear-the-card">Do Not Fear the Card</a></h4>
                <hr>
                <div class="text-center article-summary">
                  <div class="time">
                    <span>My sister, Lauren, takes us on a story through her first experiences in credit card land where myths are shattered and new truths discovered!</span>
                  </div>
                </div>
                <a href="/blogs/do-not-fear-the-card" class="button btn-small full-width">READ ARTICLE</a>
              </div>
            </article>
          </div>
        </div>
        <div class="row add-clearfix image-box style1 tour-locations">
          <h2 class="sub-header">2. Starting Out with No Credit</h2>
            <div class="col-md-offset-4 col-md-4">
              <article class="box article-box">
                <figure>
                  <a href="/blogs/how-to-build-credit-from-scratch" class="hover-effect">
                    <%= image_tag("start_here/credit_score/credit-from-scratch.jpg") %>
                  </a>
                </figure>
                <div class="details">
                  <h4 class="box-title category-title"><a href="/blogs/how-to-build-credit-from-scratch">How to Build Credit from Scratch?</a></h4>
                  <hr>
                  <div class="text-center article-summary">
                    <div class="time">
                      <span>The best credit cards require good credit. If you have never had a credit card, chances are you have zero credit. Our guide on building credit from scratch will help you meet your travel reward goals!</span>
                    </div>
                  </div>
                  <a href="/blogs/how-to-build-credit-from-scratch" class="button btn-small full-width">READ ARTICLE</a>
                </div>
              </article>
            </div>
         </div>

        <div class='col-md-offset-3 col-md-6 apply-here continue-button'>
          <%= link_to "Continue On", types_of_credit_cards_path, class: "btn btn-success btn-lg btn-block" %>
        </div>

        <div class='col-md-offset-3 col-md-6 apply-here continue-button'>
          <%= link_to "Beginner's Guide Home", credit_card_beginners_guide_path, class: "btn btn-success btn-lg btn-block" %>
        </div>

      </div>
    </div>
  </div>
</section>