<%= render partial: "credit_score_header" %>
<div class="page-title-container">
  <div class="container">
    <div class="page-title pull-left">
      <h2 class="entry-title">What is a Credit Score?</h2>
    </div>
    <ul class="breadcrumbs pull-right">
      <li><a href="/">HOME</a></li>
      <li><a href="/credit-card-beginners-guide">START HERE</a></li>
      <li class="active">What is a Credit Score</li>
    </ul>
  </div>
</div>

<div class="fullwidthbanner-container-scores">
  <div class="col-md-offset-2 col-md-8">
    <h1 class="top-title" id="40">All About Credit Scores</h1>
  </div>
</div>

<section class="all-content" id="content">
  <div class="container intro-para">
    <h1 id="how">What is a Credit Score?</h1>
    <p>
      Having a good credit score is crucial when applying for credit cards. Unfortunately, there are a lot of misconceptions about what a credit score truly is, and how to go about finding and managing it. Below is a list of articles covering all aspects of credit scores. With a solid understanding of what a credit score is, you can maximize your credit card rewards!
    </p>
    <h2>Thank you for reading and Happy Travels!</h2>
    <hr>
  </div>

  <div class="container main-start-here">
    <div id="main">

      <div class="row add-clearfix image-box style1 tour-locations">
        <h2 class="sub-header">1. All About Credit</h2>
          <div class="col-md-offset-2 col-md-4">
            <article class="box article-box">
              <figure>
                <a href="/blogs/what-is-a-credit-score" class="hover-effect">
                  <%= image_tag("start_here/credit_score/what-is-credit-score.jpg") %>
                </a>
              </figure>
              <div class="details">
                <h4 class="box-title category-title"><a href="/blogs/what-is-a-credit-score">What is a Credit Score?</a></h4>
                <hr>
                <div class="text-center article-summary">
                  <div class="time">
                    <span>THE FIRST QUESTION I GET WHEN I TELL PEOPLE ABOUT MY OBSESSION WITH THE CREDIT CARD GAME IS “DOESN'T THAT RUIN YOUR CREDIT SCORE?” OUR GUIDE WILL TEACH YOU ABOUT THE COMPONENTS OF A CREDIT SCORE, AND HOPEFULLY SHATTER SOME CREDIT CARD MYTHS ALONG THE WAY.</span>
                  </div>
                </div>
                <a href="/blogs/what-is-a-credit-score" class="button btn-small full-width">READ ARTICLE</a>
              </div>
            </article>
          </div>

           <div class="col-md-4">
            <article class="box article-box">
              <figure>
                <a href="/blogs/do-not-fear-the-card" class="hover-effect">
                  <%= image_tag("start_here/credit_score/fear-the-card.jpg") %>
                </a>
              </figure>
              <div class="details">
                <h4 class="box-title category-title"><a href="/blogs/do-not-fear-the-card">Do Not Fear the Card</a></h4>
                <hr>
                <div class="text-center article-summary">
                  <div class="time">
                    <span>MY SISTER TAKES US ON A JOURNEY THROUGH HER FIRST EXPERIENCES IN CREDIT CARD LAND, SHATTERNING MYTHS AND MAKING NEW DISCOVERIES ALONG THE WAY!</span>
                  </div>
                </div>
                <a href="/blogs/do-not-fear-the-card" class="button btn-small full-width">READ ARTICLE</a>
              </div>
            </article>
          </div>
        </div>
        <div class="row add-clearfix image-box style1 tour-locations">
          <h2 class="sub-header">2. Starting Out with No Credit</h2>
            <div class="col-md-offset-4 col-md-4">
              <article class="box article-box">
                <figure>
                  <a href="/blogs/how-to-build-credit-from-scratch" class="hover-effect">
                    <%= image_tag("start_here/credit_score/credit-from-scratch.jpg") %>
                  </a>
                </figure>
                <div class="details">
                  <h4 class="box-title category-title"><a href="/blogs/how-to-build-credit-from-scratch">How to Build Credit from Scratch?</a></h4>
                  <hr>
                  <div class="text-center article-summary">
                    <div class="time">
                      <span>THE BEST CREDIT CARDS REQUIRE GOOD CREDIT. IF YOU'VE NEVER HAD A CREDIT CARD, CHANCES ARE YOU HAVE ZERO CREDIT. OUR GUIDE ON BUILDING CREDIT FROM SCRATCH WILL HELP YOU MEET YOUR TRAVEL REWARD GOALS!</span>
                    </div>
                  </div>
                  <a href="/blogs/how-to-build-credit-from-scratch" class="button btn-small full-width">READ ARTICLE</a>
                </div>
              </article>
            </div>
         </div>

        <div class='col-md-offset-3 col-md-6 apply-here continue-button'>
          <%= link_to "Continue On", types_of_credit_cards_path, class: "btn btn-success btn-lg btn-block" %>
        </div>

        <div class='col-md-offset-3 col-md-6 apply-here continue-button'>
          <%= link_to "Beginner's Guide Home", credit_card_beginners_guide_path, class: "btn btn-success btn-lg btn-block" %>
        </div>

      </div>
    </div>
  </div>
</section>