<%= bootstrap_form_for([:admin, @card]) do |card_form| %>
  <%= card_form.text_field :name %>
  <%= card_form.text_field :annual_fee %>
  <%= card_form.text_field :apr %>
  <%= card_form.text_field :intro_rate %>
  <%= card_form.text_field :image_link %>
  <h3>Card Categories</h3>
  <div id='categories'>
    <%= card_form.fields_for :categories do |categories_fields| %>
      <%= categories_fields.text_field :name %>
      <%= categories_fields.text_field :slug %>
      <%= categories_fields.check_box :_destroy %>
      <%= categories_fields.label :_destroy, 'remove' %>
    <% end %>
  </div>
  <%= card_form.submit 'Add New Card' %>
<% end %>
