 <div class="container">
    <div class="row well">
      <div class="col-lg-12">
        <h2>Card Details</h2>
        <%= render partial: 'edit_card_form' %>
        <h3>Card Rewards</h3>
        <div id='rewards'>
        <% @card_rewards.rewards.each do |reward| %>
          <h5>Reward Amount: <%= reward.amount %></h5>
          <h5>Record Date: <%= reward.record_date %></h5>
          <h5>Spending Amount: <%= reward.spending_amount %></h5><br>
        <% end %>
        <%= link_to "Add Another for #{@card.name} ", {:controller => "rewards", :action => "new", :id => @card.id } %>
      </div>
    </div>
  </div>
</div>