<% provide(:title, "Admin Panel") %>
<br>
<div class="container upload-file">
  <div class="row">
    <div class="col-lg-12">
      <h3>Import a CSV File from Reddit</h3>
      <%= form_tag import_admin_imports_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= date_field_tag :date %>
        <%= submit_tag "Import CSV" %>
      <% end %>
      <br>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3>Enter Site for Point Valuations</h3>
      <%= form_tag import_admin_imports_path, multipart: true do %>
        <%= url_field_tag :url %><br>
        <%= month_field_tag :month %>
        <%= submit_tag "Digest Site" %>
      <% end %>
      <br>
      <li><%= link_to "Add New Card", new_admin_card_path %></li>
      <li><%= link_to "Logout", admin_logout_path, method: :delete %></li>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"> Admin - All Cards</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 card-list">
      <% @cards.each do |card| %>
      <div id="card-<%= card.id %>">
        <%= card.name %> | <%= link_to 'Edit', edit_admin_card_path(card) %> | <%= link_to 'Show', card_path(card) %> | <%= card.parse_card_categories_name %>
        <hr>
      </div>
      <% end %>
    </div>
  </div>
<br><br>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"> Admin - All Users</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 card-list">
      <% @users.each do |user| %>
      <div>
        <%= user.name %>
        <hr>
      </div>
      <% end %>
    </div>
  </div>
<br><br>