<div class="page-title-container">
  <div class="container">
    <div class="page-title pull-left">
      <h2 class="entry-title">Your Search Results</h2>
        </div>
        <ul class="breadcrumbs pull-right">
          <li><a href="#">HOME</a></li>
          <li class="active">Card Search Results</li>
        </ul>
    </div>
</div>

<section id="content">
  <div class="container">
    <div id="main">
      <div class="row">

        <!-- Modify Search Box -->
        <div class="col-sm-4 col-md-3">
          <h4 class="search-results-title"><i class="soap-icon-search"></i><b><%= pluralize(@cards.count, "Card") %></b> found.</h4>
          <div class="toggle-container filters-container">
            <div class="panel style1 arrow-right">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#modify-search-panel" class="collapsed">Modify Search</a>
              </h4>
                <div id="modify-search-panel" class="panel-collapse collapse">
                  <div class="panel-content">
                    <form method="post">
                      <div class="form-group">
                        <label>Card Name</label>
                        <input type="text" class="input-text full-width" placeholder="" value="ex. Chase Sapphire Preferred" />
                      </div>
                      <div class="form-group">
                        <label>Category</label>
                        <div>
                          <input type="text" name="date_from" class="input-text full-width" placeholder="ex. Airline" />
                        </div>
                      </div>
                      <br />
                      <button class="btn-medium icon-check uppercase full-width">search again</button>
                    </form>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <!-- End - Modify Search Box -->

        <div class="col-sm-8 col-md-9">

          <!-- Sort By Result Box -->
          <div class="sort-by-section clearfix box">
            <h4 class="sort-by-title block-sm">Sort results by:</h4>
            <ul class="sort-bar clearfix block-sm">
              <li class="sort-by-name"><a class="sort-by-container" href="#"><span>name</span></a></li>
              <li class="sort-by-price active"><a class="sort-by-container" href="#"><span>annual fee</span></a></li>
            </ul>
          </div>
          <!-- End - Sort By Result Box -->

          <!-- Card Listings -->
          <div class="flight-list listing-style3 flight">
            <% @cards.each do |card| %>
            <article class="box">
              <figure class="col-xs-3 col-sm-2">
                <span><%= link_to image_tag(card.image_link), card_path(card) %></span>
              </figure>
              <div class="details col-xs-9 col-sm-10">
                <div class="details-wrapper">
                  <div class="first-row">
                    <div>
                      <h4 class="box-title"><%= link_to card.name, card_path(card) %></h4>
                      <a class="button btn-mini stop">Favorite</a>
                      <div class="amenities">

                      </div>
                    </div>
                    <div>
                      <span class="price"><small>Rating</small>TBD</span>
                    </div>
                  </div>

                  <div class="second-row">
                    <div class="time">
                      <div class="take-off col-sm-4">
                        <div class="icon"><i class="soap-icon-card yellow-color"></i></div>
                          <div>
                            <span class="skin-color">Annual Fee</span><br /><%= card.annual_fee %>
                          </div>
                        </div>
                        <div class="landing col-sm-4">
                          <div class="icon"><i class="soap-icon-savings yellow-color"></i></div>
                            <div>
                              <span class="skin-color">APR</span><br /><%= card.apr %>
                            </div>
                          </div>
                        <div class="total-time col-sm-4">
                        <div class="icon"><i class="soap-icon-clock yellow-color"></i></div>
                        <div>
                          <span class="skin-color">Intro Rate</span><br /><%= card.intro_rate %>
                        </div>
                      </div>
                    </div>
                    <div class="action">
                      <%= link_to "SEE MORE", card_path(card), class: "button btn-small full-width" %>
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <% end %>
          </div>
          <!-- End Card Listings -->
           <%= will_paginate %>
        </div>
      </div>
    </div>
  </div>
</section>
