<!-- Page Content -->
  <div class="container">
    <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header"><%= @card.card_name.name %>
          <small><%= @card.card_name.annual_fee %></small></h1>
        <ol class="breadcrumb">
          <li>Category</li>
          <% @card.category_list.each do |category| %>
            <li class="active"><%= link_to category.parse_category_name, category_path(category) %></li>
            <% end %>
        </ol>
      </div>
    </div>
    <!-- /.row -->
    <!-- Portfolio Item Row -->
    <div class="row card-row well">
      <div class="col-md-3">
        <img class="img-responsive" src=<%= @card.card_name.image_link %> alt="">
        <h3>Card Details</h3>
        <h5>Intro Rate: <%= @card.card_name.intro_rate %></h5>
        <h5>APR: <%= @card.card_name.apr %></h5>
        <h5>Annual Fee: <%= @card.card_name.annual_fee %></h5>
        <h3>Bonus Information</h3>
        <div class="bonus-information">
          <% if @card.brets_favorite? %>
            <h5>Sign Up Bonus: <%= @card.rewards.first.amount %></h5>
            <h5>Spending Requirements: <%= number_to_currency(@card.rewards.first.spending_amount, precision: 0) %></h5>
            <h5>Length of Time: <%= @card.rewards.first.length_of_time %> Months</h5>
          <% else %>
          <p>See <a href="/categories/brets-favorite-cards">Bret's Favorite Cards</a> for Premium Bonus Information</p>
          <% end %>
        </div>
      </div>

      <div class="col-md-9 well card-description">
        <h3>Card Description</h3>
        <ul>
          <% n = 1 %>
          <% @card.card_name.information.each do |info| %>
          <li id="information-<%= n %>"><%= info %></li>
          <% n += 1 %>
          <% end %>
        </ul>
      </div>
      <% if @card.brets_favorite? %>
        <div class='col-md-3 col-md-offset-3 apply-here'>
          <%= button_to "Apply Here", @card.rewards.first.apply_link, :method => "get", class: "btn btn-success btn-lg btn-block"  %>
        </div>
      <% end %>
    </div>
    <!-- /.row -->
    <!-- Related Cards Row -->
    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header related-card-header">Related <%= @card.featured_cards_category_name %> Cards</h3>
      </div>
      <% @card.featured_cards.each do |card| %>
      <div class="related-cards">
        <div class="col-sm-3 col-xs-6">
          <img class="img-responsive img-hover img-related" src=<%= card.image_link %> alt="">
          <p class="related-card-name"><%= link_to card.name, card_path(card) %></p>
        </div>
      </div>
      <% end %>
    </div>
    <hr>
    <!-- /.row -->
