<%= render partial: "show_header" %>
<div class="page-title-container">
  <div class="container">
    <div class="page-title pull-left">
      <h2 class="entry-title" id="<%= @card_presenter.card.id%>"><%= @card_presenter.card.name %></h2>
    </div>
    <ul class="breadcrumbs pull-right">
      <li><a href="/">HOME</a></li>
      <li><%= link_to "CARDS", cards_path, class: "active" %></li>
    </ul>
  </div>
</div>
<section id="content" class="gray-area">
  <div class="container car-detail-page">
    <div class="row">
      <div id="main" class="col-md-9">

       <div class="sidebar col-md-3 top-image">
          <article class="detailed-logo">
            <figure>
              <%= image_tag(@card_presenter.card.image_link) %>
            </figure>
          </article>
        </div>

        <div class="tab-container">
          <ul class="tabs">
            <li class="active">
              <a href="#car-details" data-toggle="tab">Card Details</a>
            </li>
          </ul>

          <!-- Main Card Description -->
          <div class="tab-content card-description">
            <div class="tab-pane fade in active" id="car-details">
            <h2>Card Information</h2>
            <ul>
            <% n = 1 %>
            <% @card_presenter.card.information.each do |info| %>
              <li id="information-<%= n %>"><%= info %></li>
              <% n += 1 %>
              <% end %>
            </ul>
            <br />
            <h2>Card Categories</h2>
              <div class="car-features box">
                <div class="row add-clearfix">
                  <% @card_presenter.category_list.each do |category| %>
                    <div class="col-sms-6 col-sm-6 col-md-4">
                      <span class="icon-box style2">
                      <i class="soap-icon-plane-right circle"></i><%= link_to category.parse_category_name, category_path(category) %>
                      </span>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="FavoriteButtonMobile">
                <%= react_component('FavoriteButton', url: "/api/v1/favorite_cards/#{@card_presenter.card.id}", currentUser: short_current_user, id: @card_presenter.card.id) %>
              </div>
              <% if @card_presenter.card_has_bonus? %>
                <h2><strong>Bonus Information</strong></h2>
                <div class="car-features box bonus-information-side">
                  <div class="row add-clearfix">
                    <div class="col-sms-6 col-sm-6 col-md-4">
                      <span class="icon-box style2">
                        <i class="soap-icon-beach circle"></i>Sign Up Bonus: <%= @card_presenter.rewards.last.amount %> Miles
                      </span>
                    </div>
                    <div class="col-sms-6 col-sm-6 col-md-4">
                      <span class="icon-box style2">
                        <i class="soap-icon-savings circle"></i>Spending Requirement: <%= number_to_currency(@card_presenter.rewards.last.spending_amount, precision: 0) %>
                      </span>
                    </div>
                    <div class="col-sms-6 col-sm-6 col-md-4">
                      <span class="icon-box style2">
                        <i class="soap-icon-calendar circle"></i>Length of Time: <%= pluralize(@card_presenter.rewards.last.length_of_time, "Month") %>
                      </span>
                    </div>
                  </div>
                </div>
                <div class='col-md-12 apply-here'>
                  <%= link_to "Apply Here", @card_presenter.rewards.last.apply_link, class: "btn btn-success btn-lg btn-block" %>
                </div>
              <% end %>
            </div>
            <div class="tab-pane fade in" id="car-upgrade">

            </div>
          </div>
          <!-- End - Main Card Description -->
        </div>
      </div>

      <!-- Side Panel - Card Info -->
      <div class="sidebar col-md-3 sidebar-panel">
        <article class="detailed-logo">
          <figure>
            <%= image_tag(@card_presenter.card.image_link) %>
          </figure>
          <div class="details">
            <h2 class="box-title"><%= @card_presenter.card.name %><small></small></h2>
            <div class="card-info-box">
                <div class="mile clearfix">
                  <span class="skin-color">Annual Fee:</span>
                  <div class="mileage pull-center"><%= @card_presenter.card.annual_fee %></div>
                </div>
                 <div class="mile clearfix">
                  <span class="skin-color">Intro Rate:</span>
                  <div class="mileage pull-center"><%= @card_presenter.card.intro_rate %></div>
                </div>
                <div class="mile clearfix">
                  <span class="skin-color">APR:</span>
                  <div class="mileage pull-center"><%= @card_presenter.card.apr %></div>
                </div>
              </div>
              <h3 class="box-title">Bonus Information</h3>
              <div class="bonus-information">
                <% if @card_presenter.card_has_bonus? %>
                  <div class="mile clearfix">
                    <span class="skin-color">Sign Up Bonus:</span>
                    <span class="mileage pull-right"><%= @card_presenter.rewards.last.amount %></span>
                  </div>
                  <div class="mile clearfix">
                    <span class="skin-color">Spending Requirements:</span>
                    <span class="mileage pull-right"><%= number_to_currency(@card_presenter.rewards.last.spending_amount, precision: 0) %></span>
                  </div>
                  <div class="mile clearfix">
                    <span class="skin-color">Length of Time:</span>
                    <span class="mileage pull-right"><%= pluralize(@card_presenter.rewards.last.length_of_time, "Month") %></span>
                  </div>
                  <span class="price clearfix">
                    <small class="pull-left">Good Time to Apply:</small>
                    <span class="pull-right" id="good-time-spinner"><%= image_tag("loader_small.gif") %></span>
                    <span class="pull-right" id="good-time"></span>
                  </span>
                <% else %>
                  <h6 class="box-title" id="click-here-favorite">No Bonus Information</h6>
                  <h6 class="box-title" id="click-here-favorite"><a href="/best-credit-card-offers">Click Here for Cards with Bonus Information!</a></h6>
                <% end %>
              </div>
              <div class="FavoriteButton">
                <%= react_component('FavoriteButton', url: "/api/v1/favorite_cards/#{@card_presenter.card.id}", currentUser: short_current_user, id: @card_presenter.card.id) %>
              </div>
          </div>
        </article>
      </div>
      <!-- End Side Panel - Card Info -->
    </div>
  </div>
</section>

<div class="container apply-center-container">
  <h2 class="time-to-apply-title"></h2>
  <h3 class="title-to-apply-subtitle"></h3>
</div><br><br>

<!-- Dollar/Reward Graph -->
  <div class="container reward-graph-container">
    <div class="row">
      <h2 class="sign-up-bonus-title">Bonus Amount &amp; Value</h2>

      <div class="no-bonus-info">
        <h1 class="no-bonus-info-title-h1">
          No Bonus Information
        </h1>
        <% category_name = @card_presenter.card.categories.sample.name %>
        <h1 class="no-bonus-info-subtitle-h1">
          But Here are some <strong><%= @card_presenter.parse_category_name(category_name) %> with Bonuses!</strong>
        </h1>

        <!-- Cards With Bonuses Partial  -->
        <% if !@card_presenter.card_has_bonus? %>
          <%= render partial: "cards_with_bonuses",  locals: {:category_name => category_name} %>
        <% end %>
      </div>

      <div id='loaderImg'>
        <%= image_tag("loader.gif") %>
      </div>

      <div id="dollar-amount-chart" style="height: 300px;"></div>
    </div>
  </div>
<!-- End - Dollar/Reward Graph -->

<!-- Points Value Graph -->
  <div class="container reward-graph-container points-container">
    <div class="row">
      <h2 class="sign-up-bonus-title">Rewards Value - <%= @card_presenter.card.point_type %></h2>
      <div id="reward-chart" style="height: 300px;">
      </div>
    </div>
  </div>
<!-- End - Points Value Graph -->



<div class="section">
  <div class="container">
    <h2>Related Blog Posts</h2>
    <div class="image-box style11 block">
        <div class="row">
        <% @card_presenter.blog_posts.each do |post| %>
            <div class="col-sm-4">
                <article class="box">
                    <figure >
                      <a title="" href="/blogs/<%= post.slug %>"><img alt="" src="<%= post.image_url %>"></a>
                        <figcaption>
                          <h3 class="caption-title">20</h3>
                          <span>APR</span>
                        </figcaption>
                    </figure>
                    <div class="details details-text-box">

                        <div class="icon-box style11">
                            <div class="icon-wrapper">
                                <i class="soap-icon-plane-right takeoff-effect circle"></i>
                            </div>
                            <div class="details">
                                <h4 class="box-title"><%= post.meta_title %><small>Posted By: Bret</small></h4>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <% end %>
        </div>
    </div>
    </div>
  </div>


<!-- Related Cards -->
<div class="container">
  <div class="row">
    <%= render partial: "related_cards" %>
  </div>
</div>
<hr>
<!-- End - Related Cards -->

<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.js" %>
<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.js" %>