<%= render partial: "index_header" %>
<!-- Page Content -->
<div class="container">
<!-- Page Heading/Breadcrumbs -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">About
        <small>Too Many Miles</small>
      </h1>
    </div>
  </div>
<!-- /.row -->

<!-- Intro Content -->
  <div class="row">
    <div class="col-md-6">
      <%= image_tag("about/world.png", class: "img-responsive world-map") %><br>
      <h5 class="photo-tag"><strong>My world trip 2 years ago</strong></h5>
      <br>
    </div>
    <div class="col-md-6">
      <h2>Why Me?</h2>

      <p> <a href="http://www.sweatersaga.com/" class="active">Two years ago</a>, I traveled completely around the world for free. How? By strategically applying for travel credit cards and using the points I earned to pay for flights.  In total, I took 13 flights without spending any real cash.  I want to share what I learned, so that you, too, can explore the world without breaking the bank.</p>

      <h2>Why Too Many Miles?</h2>

      <p>Travel credit cards offer excellent sign up bonuses. For example, the <%= link_to @linked_card.name, card_path(@linked_card), class: "active" %>, is currently offering <%= number_with_delimiter(@linked_card.rewards.first.amount) %> points if you spend <%= number_to_currency(@linked_card.rewards.first.spending_amount, precision: 0) %> in <%= pluralize(@linked_card.rewards.first.length_of_time, "month") %>. These points can be converted to airline miles and offer you a chance to see the world for free. In this case, Chase is giving away approximately $625 in flights!</p>

      <p><strong>The problem? These sign up bonuses are fleeting.</strong> Some months, the deals are better than others, and the best deals can disappear quickly. Our app tracks bonuses across a variety of cards and <%= link_to "provides recommendations", category_path(@best_cards), class: "active" %> based on the cards' current offers relative to their historical offers. We will coach you to apply at the correct time, and receive the largest bonus possible!</p>
    </div>
  </div>
 <!-- /.row -->

        <!-- Team Members -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header" id="our-team">Our Team</h1><br>
    </div>
    <div class="col-md-offset-3 col-md-6 text-center">
      <div class="thumbnail team-member">
        <%= image_tag("about/bret.jpg", class: "img-responsive") %>
        <div class="caption">
          <h3>Bret Doucette<br>
            <small>Founder &amp; Developer</small>
          </h3>
          <p><strong>"Travel Addict, Lord of the Rings Enthusiast, and Web Developer."</strong></p>
          <p>Bret graduated from the University of Virginia in 2010, attended business school at Wake Forest, and worked in finance in Washington D.C. until realizing his heart wasn’t in it. Bret quit his job in 2014 to travel the world for 4 months.  Among many valuable life lessons, Bret acquired a vast knowledge of the credit card game during his trip. Currently Bret lives in Denver, CO and spends his days working in software consulting. His nights are spent working on Too Many Miles where he hopes to share what he learned so you can travel more for less!</p>
            <ul class="list-inline">
              <li><a href="https://www.facebook.com/profile.php?id=1526930"><i class="soap-icon-facebook"></i></a></li>
              <li><a href="https://www.linkedin.com/in/bretdoucette"><i class="soap-icon-linkedin"></i></a></li>
              <li><a href="https://twitter.com/bretdou"><i class="soap-icon-twitter"></i></a></li>
            </ul>
          </div>
        </div><br>
    </div>
    <div class="col-md-offset-3 col-md-6 text-center">
      <div class="thumbnail team-member">
        <%= image_tag("about/blake.jpg", class: "img-responsive") %>
        <div class="caption">
          <h3>Blake Thomas<br>
            <small>Developer &amp; Card Strategist</small>
          </h3>
          <p><strong>"Snow Skier, Blitz Patzer, and Data Visualizer"</strong></p>
          <p>Following his graduation from the University of Virginia in 2010, Blake worked in Charlottesville, Virginia as a neurological researcher. He currently resides in Washington, D.C. and works as a consultant, writing JavaScript to create complex data visualizations for the policy industry. A passionate credit card enthusiast, Blake uses his knowledge to provide content and information for our (soon to be) blogs and codes graphs to help you visualize the best deals!</p>
          <ul class="list-inline">
            <li><a href="https://www.facebook.com/profile.php?id=1526013"><i class="soap-icon-facebook"></i></a></li>
            <li><a href="https://www.linkedin.com/in/blake-thomas-63177987"><i class="soap-icon-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <!-- Our Customers -->
  <hr>
</div>