<%= render partial: "show_header" %>
<div class="page-title-container">
  <div class="container">
    <div class="page-title pull-left">
      <h2 class="entry-title"><%= @category.category_name %></h2>
        </div>
        <ul class="breadcrumbs pull-right">
          <li><a href="/">HOME</a></li>
          <li><%= link_to "CATEGORIES", categories_path %></li>
          <li class="active"><%= @category.category_name%></li>
        </ul>
    </div>
</div>

<section id="content">
  <div class="container">
    <div id="main">
      <div class="row">

        <!-- Modify Search Box -->
        <div class="col-sm-4 col-md-3">
          <h4 class="search-results-title"><i class="soap-icon-search"></i><b><%= pluralize(@category.number_of_cards_per_category, "Card") %></b> found.</h4>
          <div class="toggle-container filters-container">
            <div class="panel style1 arrow-right">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#modify-search-panel" class="collapsed">Pick Another Category</a>
              </h4>
                <div id="modify-search-panel" class="panel-collapse collapse">
                  <div class="panel-content">
                    <%= form_tag({controller: "categories", action: "show"}, method: "get") do %>
                       <%= select(:category, :category_id, Category.all.collect {|c| [ c.parse_category_name, c.id ] }) %></br>
                       <br><button type="submit"  class="btn-medium uppercase full-width">Search</button>
                    <% end %>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <!-- End - Modify Search Box -->

        <div class="col-sm-8 col-md-9">

         <!-- Sort By Result Box - TO BE ADDED IN SOON -->
         <!--  <div class="sort-by-section clearfix box">
            <h4 class="sort-by-title block-sm">Sort results by:</h4>
            <ul class="sort-bar clearfix block-sm">
              <li class="sort-by-name"><a class="sort-by-container" href="#"><span>name</span></a></li>
              <li class="sort-by-price active"><a class="sort-by-container" href="#"><span>annual fee</span></a></li>
            </ul>
          </div> -->
          <!-- End - Sort By Result Box -->

          <!-- Card Listings -->
          <div class="flight-list listing-style3 flight">
            <%= react_component('Cards', id: @category.category_id) %>
          </div>
          <!-- End Card Listings -->
        </div>
      </div>
    </div>
  </div>
</section>
