<%= render partial: "show_header" %>
<div class="page-title-container">
  <div class="container">
    <div class="page-title pull-left">
      <h2 class="entry-title"><%= @category_presenter.category_name %></h2>
        </div>
        <ul class="breadcrumbs pull-right">
          <li><a href="/">HOME</a></li>
          <li><%= link_to "CATEGORIES", categories_path %></li>
          <li class="active"><%= @category_presenter.category_name%></li>
        </ul>
    </div>
</div>

<div class="category-description">
  <h4><%= @category_presenter.category.description %></h4>
</div>

<section id="content">
  <div class="container">
    <div id="main">
      <div class="row">

        <!-- Modify Search Box -->
        <div class="col-sm-4 col-md-3">
          <h4 class="search-results-title"><i class="soap-icon-search"></i><b><%= pluralize(@category_presenter.number_of_cards_per_category, "Card") %></b> found.</h4>
          <div class="toggle-container filters-container">
            <div class="panel style1 arrow-right">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#modify-search-panel" class="collapsed" id="cat-panel">Pick Another Category</a>
              </h4>
                <div id="modify-search-panel" class="panel-collapse collapse">
                  <div class="panel-content" id="cat-panel">
                    <%= form_tag({controller: "categories", action: "show"}, method: "get") do %>
                       <%= select(:category, :category_id, Category.all.collect {|c| [ c.parse_category_name, c.id ] }) %></br>
                       <br><button type="submit"  class="btn-medium uppercase full-width">Search</button>
                    <% end %>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <!-- End - Modify Search Box -->

        <div class="col-sm-8 col-md-9">
          <!-- Card Listings and Sort Component -->
          <div class="flight-list listing-style3 flight" id="shitty">
            <%= javascript_tag do %>
              $(document).ready(function() {
                window.loadCardsFlux("/api/v1/categories/<%= @category_presenter.category_id %>", '<%= short_current_user %>')
              })
            <% end %>
          </div>
          <!-- End - Card Listings and Sort Component -->
        </div>
      </div>
    </div>
  </div>
</section>