<!-- Regular Nav -->
<div id="page-wrapper">
  <header id="header" class="navbar-static-top style4">
    <div class="topnav hidden-xs">
      <div class="container">
        <ul class="quick-menu pull-left">
          <% if current_user %>
            <li><%= link_to "MY ACCOUNT", user_path(current_user)%></li>
          <% end %>
        </ul>
        <ul class="quick-menu pull-right">
          <li class="ribbon">
            <% if current_user %>
              <a href="#"><%= current_user.name %></a>
              <ul class="menu mini uppercase">
                <li><a href="dashboard1.html#dashboard" class="location-reload">Dashboard</a></li>
                <li><a href="dashboard1.html#booking" class="location-reload">Favorite Cards</a></li>
                <li><%= link_to "LOGOUT", logout_path, method: :delete %></li>
              </ul>
            <% else %>
              <a href="#" class="soap-popupbox" data-target="#travelo-login">Login</a>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div class="container" id="login-navbar">
      <h1 class="logo navbar-brand">
        <a href="/" title="Too Many Miles - Home">
          <%= image_tag("navbar/logo_big.png") %>
        </a>
      </h1>

      <!-- Search Bar - Non Mobile -->
      <div class="pull-right hidden-mobile search-area">
        <form method="get" accept-charset="UTF-8" id="search-form" role="search" action="/cards" class="quick-search">
          <div class="with-icon">
            <input type="text" name="search" class="input-text search-input" id="select_origin" placeholder="Search for Credit Cards" />
            <button class="icon" id="search-button" type="button submit"><i class="soap-icon-search"></i></button>
          </div>
        </form>

        <% if current_user %>
          <button style="display:none" class="btn-medium blue-bg soap-popupbox" data-target="#travelo-signup">SIGN UP</button>
          <a rel="nofollow" data-method="delete" href="/logout" id="logout-link"> <button class="btn-medium">LOGOUT</button></a>
        <% else %>
          <button class="btn-medium blue-bg soap-popupbox" data-target="#travelo-signup">SIGN UP</button>
          <button class="btn-medium soap-popupbox" data-target="#travelo-login">LOGIN</button>
        <% end %>
        <!-- Sign Up Buttons Will Go Here!! -->
      </div>
      <!-- End Search Bar - Non Mobile -->
    </div>

    <a href="#mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle">Mobile Menu Toggle</a>
    <div class="main-navigation">
      <div class="container">
        <nav id="main-menu" role="navigation">
          <ul class="menu">
            <li class="menu-item-has-children">
              <a href="/">Home</a>
            </li>
             <li class="menu-item-has-children">
              <a href="/learn-about-credit-cards">Start Here</a>
            </li>
            <li class="menu-item-has-children">
             <a href="/our-favorite-credit-cards">Our Favorite Credit Cards</a>
            </li>
            <li class="menu-item-has-children">
              <a href="/best-credit-card-offers">BEST OFFERS NOW</a>
            </li>
            <li class="menu-item-has-children">
              <a href="/travel-credit-cards">Browse Travel Credit Cards</a>
            </li>
            <li class="menu-item-has-children">
             <a href="#">Card Categories</a>
              <ul>
                <li><a href="/travel-credit-cards">All Travel Credit Cards</a></li>
                <li><a href="/airline-credit-cards">Airline Credit Cards</a></li>
                <li><a href="/hotel-credit-cards">Hotel Credit Cards</a></li>
                <li><a href="/business-rewards-credit-cards">Business Credit Cards</a></li>
                <li><a href="/cash-back-credit-cards">Cash Back Credit Cards</a></li>
                <li><a href="/other-credit-cards">Other Credit Cards</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a href="/about">About</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- End Regular Nav -->

    <!-- Mobile Nav -->
    <nav id="mobile-menu-01" class="mobile-menu collapse">
      <ul id="mobile-primary-menu" class="menu">
        <li>
          <a href="/">Home</a>
          <a href="/learn-about-credit-cards">Start Here</a>
          <a href="/our-favorite-credit-cards">Our Favorite Credit Cards</a>
          <a href="/best-credit-card-offers">BEST OFFERS NOW</a>
          <a href="/travel-credit-cards">Browse Travel Credit Cards</a>
          <a href="/about">About</a>
          <li class="menu-item-has-children">
              <a href="#">Card Categories</a>
              <ul>
                <li><a href="/travel-credit-cards">All Travel Credit Cards</a></li>
                <li><a href="/airline-credit-cards">Airline Credit Cards</a></li>
                <li><a href="/hotel-credit-cards">Hotel Credit Cards</a></li>
                <li><a href="/business-rewards-credit-cards">Business Credit Cards</a></li>
                <li><a href="/cash-back-credit-cards">Cash Back Credit Cards</a></li>
                <li><a href="/other-credit-cards">Other Credit Cards</a></li>
              </ul>
          </li>
        </li>
          <!-- Search Bar - Mobile -->
          <li class="menu-item-has-children">
            <form method="get" accept-charset="UTF-8" id="search-form" role="search" action="/cards" class="quick-search">
              <div class="with-icon">
                <input type="text" name="search" class="input-text search-input" id="select_origin_mobile" placeholder="Search for Credit Cards" />
                <button class="icon" id="search-button" type="button submit"><i class="soap-icon-search"></i></button>
              </div>
            </form>
          </li>
      </ul>
      <ul class="mobile-topnav container">
        <ul class="mobile-topnav container">
          <% if current_user %>
            <li><a href="/">MY ACCOUNT</a></li>
            <li><%= link_to "LOGOUT", logout_path, method: :delete %></a></li>
            <li><a href="/">Welcome, <%= current_user.name %>!</a></li>
          <% else %>
            <li><a href="#travelo-login" class="soap-popupbox">LOGIN</a></li>
            <li><a href="#travelo-signup" class="soap-popupbox">SIGN UP</a></li>
          <% end %>
        </ul>
      </ul>
    </nav>
    <!-- End Mobile Nav -->
  </header>
</div>