<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= full_title(yield(:title)) %></title>
  <meta name="description" content="<%= meta_description(yield(:meta_description)) %>" />
  <meta name="google-site-verification" content="55MLBOoSZvq6YxQikipb2_VO96wJ8EwhDlKkXT0bqzI" />
  <meta name="msvalidate.01" content="C36156ADD172439BA028DE70EDE2FE34" />

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="https://s3.amazonaws.com/toomanymiles-images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="https://s3.amazonaws.com/toomanymiles-images/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="https://s3.amazonaws.com/toomanymiles-images/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="https://s3.amazonaws.com/toomanymiles-images/favicons/manifest.json">
  <link rel="mask-icon" href="https://s3.amazonaws.com/toomanymiles-images/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="https://s3.amazonaws.com/toomanymiles-images/favicons/favicon.ico">
  <meta name="msapplication-config" content="https://s3.amazonaws.com/toomanymiles-images/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- Facebook Properties -->
  <meta property="og:url" content="<%= facebook_url(yield(:full_url)) %>" />
  <meta property="og:title" content="<%= full_title(yield(:title)) %>" />
  <meta property="og:image" content="<%= facebook_image(yield(:image_url)) %>"/>
  <meta property="og:description" content="<%= meta_description(yield(:meta_description)) %>" />
  <meta property="og:site_name" content="Too Many Miles" />
  <meta property="fb:app_id" content="458214874382899" />
  <script src="//load.sumome.com/" data-sumo-site-id="751d2fd0d099ff51b5f36b66e0e2108da3ec5e9f78fec88d975b2b4f2c8e006e" async="async"></script>

  <!-- Optional Robot Instructions can be set up in controllers -->
  <% if @meta_robots_instructions %>
    <meta name="robots" content="<%= @meta_robots_instructions %>" />
  <% end %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
</head>
<body ontouchstart="">
  <%= render partial: 'layouts/navbar' %>
  <%= render partial: 'layouts/join' %>
  <%= render partial: 'layouts/login' %>
  <%= render partial: 'layouts/flashes' %>
  <%= yield %>
  <%= render partial: 'layouts/footer' %>
  <%= render partial: 'layouts/google_analytics' %>
  <script id="dsq-count-scr" src="//too-many-miles-1.disqus.com/count.js" async></script>
</body>

</html>
